.community_page {
    display: flex;
    width: 100%;
    height: 100%;
}

.community_page .community_frame {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0b0e11;
}

.community_all_frame .article_tabs {
    width: 100%;
    height: 94px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(228, 228, 228, 0.83);
}

.community_all_frame .article_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(228, 228, 228, 0.83);
    align-items: center;
    margin-bottom: 30px;
}

.community_page .community_all_frame {
    width: 68%;
    height: 1150px;
    background: #0b0e11;
    border: 1px solid #ffff;
    border-radius: 34px;
}

/*********** starting communityChats ***********/
.community_page .chat_frame {
    width: 30%;
    height: 1150px;
    display: flex;
    flex-direction: column;
    background: #e3f2fd;
    border: 1px solid #ffffff;
    border-radius: 34px;
}

.community_page .chat_frame .chat_top {
    height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(228 228, 228, 0.83);

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.community_page .chat_content {
    position: relative;
    padding: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.community_page .chat_content .chat_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.community_page .chat_frame .chat_bott {
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(228, 228, 228, 0.83);
}

.community_page .chat_bott .msg_input {
    padding: 20px;
    width: 276px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    border: none;
    border-radius: 28px;
    outline-color: #257677;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.community_page .chat_bott .send_msg_btn {
    margin-left: 14px;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(188deg, #55a99d 0%, #007665 100%);
    border: none;
}

.community_page .chat_main .msg_left {
    margin-left: 10px;
    padding: 9px;
    width: auto;
    height: auto;

    display: flex;
    background: rgba(228, 228, 228, 0.83);
    border-radius: 20px 20px 20px 0px;
}

.community_page .msg_right {
    position: relative;
    padding: 9px;
    width: auto;
    height: auto;
    display: flex;
    background: #d0ece8;
    border-radius: 20px 20px 0px 20px;
}

/************ targetArticlex *************/
.community_page .article_box {
    margin-top: 20px;
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: row;
}

.community_page .article_box .article_img_bg {
    position: relative;
    height: 295px;
    width: 50%;
    display: flex;
    border-radius: 0px 90px 0px 0px;
    background: url("/public/community/cute_girl.jpeg");
    background-size: cover;
}

.community_page .article_box .article_desc {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.community_page .article_desc .article_title {
    padding: 0px 15px;
    width: 100%;
    height: 90%;
}

.community_page .community_all_frame .article_bott {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* ********** starting targetArticles *********** */
.community_page .all_article_box {
    width: 814.29px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #182226;

    display: flex;
    align-items: center;
    margin-top: 15px;
}

.community_page .all_article_img {
    border-radius: 30px 0px 0px 30px;
    width: 155px;
    height: 155px;
    flex-shrink: 0;
    background-size: cover;
}

.community_page .all_article_container {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.community_page .all_article_author_user {
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    margin-left: 10px;
}

.community_page .all_article_title {
    color: #e3c08d;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.community_page .all_article_desc {
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    margin-top: 12px;
}

.community_page .all_article_container .target_icons {
    display: flex;
    margin-left: 320px;
    gap: 20px;
}
/* ********** ending targetArticles *********** */
