.footer_config {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 509px;
    background: #2c261e;
  }
  
  .footer_config .main_footer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 91px;
    margin-left: 131px;
    width: 1144px;
    height: 377px;
  }
  
  .main_footer_container .main_text {
    width: 340px;
    height: 97.22px;
    margin-top: 19px;
    color: #e3c08d;
    font-size: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
  
  .main_footer_container .contact_links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125.28px;
    height: 15.14px;
    margin-top: 11.3px;
  }
  
  .main_footer_container .parts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 118px;
    height: 188px;
    margin-left: 283px;
  }
  
  .parts .part_subject {
    position: relative;
    width: 109.98px;
    height: 32.41px;
    color: #c5c8c9;
    font-size: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
  }
  
  .parts .devider {
    position: relative;
    width: 45.4px;
    height: 1.91px;
    margin-top: 11.44px;
    background: #e3c08d;
  }
  
  .parts .targets {
    position: relative;
    width: 118.05px;
    height: 129.63px;
    margin-top: 19.6px;
    color: #e3c08d;
    font-size: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
  
  .footer_config .liner {
    position: relative;
    width: 1064px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #c5c8c9;
    margin-top: 86px;
  }
  
  .footer_config .copyrights {
    width: 344px;
    height: 32px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 16px;
    line-height: 34px;
    margin-top: 15px;
    color: #e3c08d;
  }
  .footer_config .info {
    position: relative;
    width: 340px;
    height: 206px;
  }
  
  .main_footer_container .find_us {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 297px;
    height: 210.99px;
    margin-left: 96.39px;
  }
  
  .find_us .find {
    width: 116.87px;
    height: 32.91px;
    color: #c5c8c9;
    font-size: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
  }
  
  .find_us .devider {
    position: relative;
    width: 45.4px;
    height: 1.91px;
    margin-top: 6.81px;
    background: #e3c08d;
  }
  
  .find_us .details {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 295.93px;
    height: 33px;
  }
  
  .details .detail_first {
    position: relative;
    width: 15.01px;
    height: 32.91px;
    color: #c5c8c9;
    font-size: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
  }
  
  .details .detail_second {
    position: relative;
    width: 269.12px;
    height: 32.91px;
    margin-left: 11.79px;
    color: #e3c08d;
    font-size: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }