* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.help_page {
    width: 100%;
    height: auto;

    display: flex;
    background: #0b0e11;
}

.help_page .help_menu {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}

/****************** starting help Qoidalar **************************/
.help_page .theRules_box {
    width: 1224px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 20px 30px 30px 30px;
}

.help_page .theRules_box .theRulesFrame p {
    color: #172b4d;
    /* font-family: "Commissioner"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5;

    border-bottom: solid 2px #c4c4c4;
    margin: 15px 0;
}
/****************** ending help Qoidalar **************************/

/************************** starting Adminga Xat ********************/
.help_page .admin_letter_box {
    width: 1224px;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--border-1, #ededed);
    background: var(--color-5, #fff);

    /* shadow-3 */
    box-shadow: 0px 20px 30px 0px rgba(25, 25, 46, 0.04);
    display: flex;
    align-items: center;
}

.help_page .admin_letter_container {
    padding: 40px;
}

.help_page .admin_letter_frame span {
    color: #000;
    font-family: "ABeeZee";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.help_page .admin_letter_frame p {
    color: var(--text-color, #4f547b);
    font-family: "Sedan";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}

.help_page .admin_letter_frame {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.help_page .admin_letter_frame .admin_input_box {
    display: flex;
    flex-direction: column;
    line-height: 2.7;
    margin-top: 10px;
}

.help_page .admin_letter_frame label {
    color: var(--head-color, #140342);
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.help_page .admin_input_box input {
    width: 1100px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #140342;
    background: var(--color-white, #fff);
    /* 안에 있는 텍스트 */
    color: var(--text-color, #4f547b);
    font-family: Verdana;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */

    padding-left: 15px;
}

.help_page .admin_input_box textarea {
    width: 1100px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #140342;
    background: var(--color-white, #fff);
    /* 안에 있는 텍스트 */
    color: var(--text-color, #4f547b);
    font-family: Verdana;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */

    padding: 15px;
}
/************************** ending Adminga Xat ********************/
