.homepage {
    background: #0b0e11;
}

.homepage .static_frame {
    width: 100%;
    background: #2c261e;
}

.homepage .personage_img.left {
    width: 204px;
    height: 200px;
    background: url("/public/home/papays.png");
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-size: cover;
}

.homepage .personage_img.right {
    width: 204px;
    height: 200px;
    background: url("/public/home/papays.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;
}

.homepage .static_box {
    width: 191px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage .static_box .static_num {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 81px;
    text-align: center;
    color: #ffffff;
}

.homepage .static_box .static_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #e3c08d;
}

/* ******* STARTING TOP_RESTAURANT ************ */
.homepage .top_restaurant_frame {
    width: 100%;
    height: 605px;
    display: flex;
    background: #0b0e11;
}

.homepage .category_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #e3c08d;
}
/* ******* STARTING BEST_RESTAURANT ************ */
.homepage .best_restaurant_frame {
    width: 100%;
    height: 775px;
    display: flex;
    background: #0b0e11;
}
/* ******* ENDING BEST_RESTAURANT ************ */

/* ********* STARTING BEST DISHES************ */
.homepage .best_dishes_frame {
    margin-top: 72px;
    width: 100%;
    height: 462px;
    display: flex;
}

.homepage .dish_box {
    margin-right: 26px;
    width: 273px;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .dish_box .dish_img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 0px 50px 0px 0px;
    display: flex;
    flex-direction: column;
}

.homepage .dish_img .dish_sale {
    margin-top: 43px;
    width: 77px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8be69;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 50px 50px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
}

.homepage .view_btn {
    width: 163px;
    height: 50px;
    margin-top: 31px;
    margin-left: 55px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity(0.5s ease);
    background: rgba(28, 23, 23, 0.59);
    border: 2px solid #b48b50;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}

.homepage .dish_img:hover .view_btn {
    opacity: 1;
}

.homepage .dish_box .dish_desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .dish_desc .dish_title_text {
    margin-top: 18px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #d1d1d1;
}

.homepage .dish_desc .dish_desc_text {
    margin-top: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #e3c08d;
}
/* ********* ENDING BEST DISHES************ */

/* ********* STARTING ADVERRTISEMENTS ********* */
.homepage .ads_restaurant_frame {
    width: 100%;
    height: 693px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px -62px 60px 20px rgb(217 217 217 / 40%);
    margin-top: 186px;
    background-color: #956dd3;
}

.homepage .ads_video {
    width: 100%;
    background: #0c0e12;
    display: flex;
    box-shadow: 0px -8px 90px rgb(215 215 255);
    transform: scale(1.5);
    overflow: hidden;
}
/* ********* ENDING ADVERRTISEMENTS ********* */

/* ********** STARTING EVENTS ************** */
.homepage .events_frame {
    margin-top: 45px;
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
}

.homepage .events_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homepage .events_main .events_text {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage .events_main .prev_next_frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 24px;
    margin-left: 901px;
    margin-top: 19px;
}

.homepage .dot_frame_pagination {
    position: relative;
    width: auto;
    display: flex;
    margin-left: 5px;
}

.homepage .events_main .events_info {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage .events_info .events_info_frame {
    position: relative;
    width: 579px;
    height: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .events_img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-size: cover;
}

.homepage .events_desc {
    position: absolute;
    padding: 10px;
    display: flex;
    width: 90%;
    height: auto;
    bottom: 5px;
    background: #fff;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 8px;
}

.homepage .events_desc .events_bott {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage .events_desc .events_bott .bott_left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage .bott_left .event_title_speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.homepage .event_title_speaker .event_organizator {
    display: flex;
    align-items: center;
}

.homepage .event_organizator .spec_text_author {
    font-family: "GT Walshein Pro";
    font-style: normal;
    line-height: 34px;
    color: #140342;
}

.homepage .bott_left .text_desc {
    font-family: "GT Walshein Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #4f547b;
}

.homepage .bott_left .bott_info {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 16px;
}

.homepage .bott_info .bott_info_main {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: 100%;
    font-family: "GT Walshein Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4f547b;
}

.homepage .swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.homepage .swiper-pagination-bullet {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    opacity: 1;
    background: #fff;
    border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
    background: #007aff;
    border-radius: 50%;
}
/* ********** ENDING EVENTS ************** */

/* ********** STARTING ARTICLE ************** */
.homepage .top_article_frame {
    width: 100%;
    height: auto;
    display: flex;
}

.homepage .article_main {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage .article_main .article_container {
    width: 568px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage .article_main .article_category {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 44px;
    color: #fff;
}

.homepage .article_container .article_box {
    margin-top: 18px;
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.homepage .article_container .article_news {
    width: 100%;
    border-radius: 20px;
    height: 380px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 4px 40px rgba(83, 38, 208, 0.25);
}

.homepage .article_box .article_img {
    width: 150px;
    height: 153px;
    border-radius: 0px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

.homepage .article_box .article_info {
    padding: 10px 0px;
    width: 318px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.homepage .article_info .article_main_info {
    width: 92%;
    height: 95%;
}

.homepage .article_main_info .article_author {
    width: 100%;
    /* height: 95%; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage .article_author .author_username {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

.homepage .article_main_info .article_title {
    margin-top: 18px;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #e3c08d;
}

.homepage .article_main_info .article_desc {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #808080;
}
/* ********** ENDING ARTICLE ************** */

/* START BASKET */

.basket_frame {
    position: relative;
    padding: 10px 4px 0px 4px;
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 16px;
    padding: 0 0 0 10px;
}

.basket_frame .all_check_box {
    padding: 0px 6px;
    width: 100%;
    height: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: #d9d9d9;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #939393;
}

.basket_frame .basket_info_box {
    position: relative;
    margin-top: 6px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket_info_box .product_img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 29px;
}

.basket_info_box .product_name {
    margin-left: 11px;
    width: 185px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.basket_info_box .product_price {
    width: 80px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #ae0000;
}

.basket_info_box
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px;
}

.basket_info_box .css-ece9u5 {
    min-width: 72px;
}

.basket_frame .cancel_btn {
    position: absolute;
    top: 33%;
    right: 5%;
    cursor: pointer;
}

.basket_frame .to_order_box {
    margin-top: 10px;
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.to_order_box .price_text {
    margin-left: 27px;
    margin-right: 10px;
    width: 200px;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.basket_frame .orders_wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    height: 260px;

    display: flex;
    flex-direction: column;
}

/* END BASKET */
